.container{
    /* border: 1px solid white; */
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    /* border: solid red 1px; */
    margin:3vw 0vw 3vw 0vw ;
    padding: 0% 9% 0% 9%;
    display: flex;
    align-content: space-around;

}
.off{
    /* border: 1px solid greenyellow; */
    
    width: 50%;
    margin: 0% 01% 0% 1%;
    border-radius: 10px;
    overflow: hidden;
}

.img{
    width: 100% ;
}